<?xml version="1.0" encoding="UTF-8" ?>
<!--
* 用户好友 Mapper
* @author GaoXiang
* @version 1.0
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="FriendMapper" >

    <!-- 开启缓存 打印日志使用：LoggingEhcache。 不打印日志使用：EhcacheCache。 -->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <!-- 根据 id 查询所有列 -->
    <select id="selectById" resultType="com.elangzhi.ssm.model.Friend" parameterType="long" >
        select a.*
        from t_friend a
        where a.id = #{id}
    </select>

    <!-- 根据 id 删除 -->
    <delete id="deleteById" parameterType="long" >
        delete from t_friend
        where id = #{id}
    </delete>

    <!-- 批量删除，参数是名为ids的list -->
    <delete id="deleteByIds" parameterType="list">
        delete from t_friend where id in
        <foreach item="ids" collection="list" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.elangzhi.ssm.model.Friend" >
        insert into t_friend (id,user_id,friend_id,set_time,status,intro)
        values (#{id},#{userId},#{friendId},#{setTime},#{status},#{intro})
    </insert>

    <!-- 根据 id 更新数据 -->
    <update id="updateById" parameterType="com.elangzhi.ssm.model.Friend" >
        update t_friend
        <set>
            <if test="userId != null" >
                user_id = #{userId},
            </if>
            <if test="friendId != null" >
                friend_id = #{friendId},
            </if>
            <if test="setTime != null" >
                set_time = #{setTime},
            </if>
            <if test="status != null" >
                status = #{status},
            </if>
            <if test="intro != null" >
                intro = #{intro},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 查询列表，分页信息不在此处控制，参数为map，返回实体 -->
    <select id="list" resultType="com.elangzhi.ssm.model.Friend" parameterType="map">
        select a.*
        from t_friend a
        where 1=1
    </select>

    <!-- 查询列表 -->
    <select id="listByUserId" resultType="com.elangzhi.ssm.model.Friend" parameterType="long">
        select a.*
        from t_friend a
        where 1=1
        and a.user_id = #{userId}
        and a.status = 1
    </select>

</mapper>